# Generate a key at https://balance-competition.tabletopgames.ai/user_settings
TTB_API_KEY=
# mock | local | hosted | modal
TTB_BACKEND=local
TTB_EXPERIMENT=default
TTB_EVALUATOR_VERSION=unversioned
# TTB_RESULTS_DIR=results/experiments
